<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Salon Background
    </h3>
    <blockquote cite="{{ site.url }}">
      Tough Love Salon was an upscale hair salon in Severna Park, Maryland.
      It was designed and owned by Lisa and Ray Cardillo and operated from <b>July, 2018</b> through <b>March, 2024</b>.
    </blockquote>
    <blockquote cite="{{ site.url }}">
      Lisa enjoyed helping clients with their hair challenges and will miss everyone very much.
    </blockquote>
    <h3 class="lead">
      Difficult Decision
    </h3>
    <blockquote cite="{{ site.url }}">
      Lisa and Ray moved to Florida, and then COVID-19 hit, which disrupted all their plans.
      Lisa planned on commuting to Maryland monthly, but she ended up being the only stylist, and needed to commute weekly to keep the salon running.
      She flew between Florida and Maryland weekly for over three years.
    </blockquote>
    <blockquote cite="{{ site.url }}">
      Recently, Ray and Lisa have both experienced some health problems and scares, and the travel was becoming especially difficult.
      Lisa needed to have a surgery that required 6-8 weeks of recovery, so they refocused their efforts to sell the salon.
      During her recovery, several sales inquiries came in, and one of them was qualified enough meet our requirements.
    </blockquote>
    <h3 class="lead">
      Business Contact
    </h3>
    <blockquote cite="{{ site.url }}">
      For a short period of time, our <a href="mailto:holler@toughlove.salon">email address</a> and <a href="tel:1-667-777-2566">phone number</a> will still be functional if there are any business matters that need to be wrapped up.
    </blockquote>
  </div>
</section>