<section class="site-section podcast-section text-center" id="podcast">
  <header class="section-header">
    <h2>
      Podcast
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      What's Next?
    </h3>
    <blockquote cite="{{ site.url }}">
      Lisa is taking some time to reset but plans to reestablish herself in the Central Florida area.
      In the meantime, if you miss the fun conversations with her, or are curious what she's doing, you should check out her new podcast.
    </blockquote>
    <blockquote cite="{{ site.url }}">
      The podcast is hosted by Lisa and Ray and is called <a href="https://thismidlifehustle.com">This Midlife Hustle</a>.
      Lisa and Ray talk about business, life, and their pursuit of financial freedom in their midlife.
      If you don't have time for the podcast, at least watch the Bloopers on <a href="https://www.youtube.com/@ThisMidlifeHustle">YouTube</a>.
    </blockquote>
  </div>
</section>