<section class="site-section whereabouts-section text-center" id="whereabouts">
  <header class="section-header">
    <h2>
      Whereabouts
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Hair By Lisa Cardillo
    </h3>
    <blockquote cite="{{ site.url }}">
      Lisa is now focused on rebuilding her book and making Central Florida beautiful, one client at a time.
      She's currently operating as <a href="https://hairbylisacardillo.com" target="_blank">Hair By Lisa Cardillo</a>.
      She would love to hear from you if you plan to be in the area.
      <br>
      <br>
      In the meantime, if you miss the fun conversations with her, or are curious what she's doing in other business pursuits, you should check out her new podcast (more info in the next section).
    </blockquote>
    <h3 class="lead">
      Podcast
    </h3>
    <blockquote cite="{{ site.url }}">
      The podcast is hosted by Lisa and Ray and is called <a href="https://thismidlifehustle.com" target="_blank">This Midlife Hustle</a>.
      Lisa and Ray talk about business, life, and their pursuit of financial freedom in their midlife.
      If you don't have time for the podcast, at least subscribe to their <a href="https://www.youtube.com/@ThisMidlifeHustle" target="_blank">YouTube channel</a> to watch the Bloopers! They're hilarious.
    </blockquote>
  </div>
</section>